{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="icon" href="../static/images/logo.png" />
  {% if title %}
  <title>Locomotion</title>
  {% else %}
  <link rel="icon" href="../static/images/logo.png" />
  <title>Locomotion</title>
  {% endif %}

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/moving.css' %}">
  {% endblock %}
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Julius+Sans+One|Sail" rel="stylesheet">
</head>

<body>
  {% include "navbar.html" %}
  <div id="progress-wrapper">
    <button id="progress-bar-trigger">Run</button>
    <div id="progress-bar" style="background-color: blue; width: 0%;">&nbsp;</div>
    <div id="progress-bar-message">Waiting for progress to start...</div>
  </div>
  {% block content %} {%endblock%}

  {% block scripts %}
  <script src="{% static 'js/moving.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  {% endblock %}
</body>

</html>